*.obj
aes-avr-crypto.o
aes-openssl.o
aes-rijndael.o
avr-crypto/aes/aes128_dec.o
avr-crypto/aes/aes128_enc.o
avr-crypto/aes/aes_dec.o
avr-crypto/aes/aes_enc.o
avr-crypto/aes/aes_invsbox.o
avr-crypto/aes/aes_keyschedule.o
avr-crypto/aes/aes_sbox.o
avr-crypto/gf256mul/gf256mul.o
avr/fifo.o
avr/spi.o
avr/usart.o
desfire_functions.o
faucard-aes-example
faucard-aes-example.o
faucard_getuid.o
getuid-avr
getuid-avr.bin
getuid-avr.o
getuid-key-faucard-obfuscated.h
getuid-key-faucard.h
getuid-libfreefare
getuid-libfreefare.o
getuid-pcsc
getuid-pcsc.exe
getuid-pcsc.o
getuid-scriptor
getuid-scriptor.o
random-avr.o
random-openssl.o
random-unix.o
rijndael-alg-fst.o
rijndael-api-fst.o
